.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 70px 40px;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: white;
  font-family: 'Playfair Display';
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.titleInfo {
  color: #c0c0c0;
  font-family: "Montserrat", sans-serif;
}

.containerArrowRight {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 70px 20px;
  }

  .containerArrowRight {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
  }
}