.container {
  margin: 0 auto;
  padding: var(--space-4) var(--size-gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-menus {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-items {
  color: white;
  text-decoration: none;
}

.title-route {
  font-family: "Montserrat", sans-serif;
  color: white;
  cursor: pointer;
}

.title-route-activated {
  color: var(--primary-color);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}