.container {
  margin: 0 auto;
  padding: var(--space-4) var(--size-gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-menus {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-items{
    color: white;
    text-decoration: none;
}